* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.container {
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
}

.logo {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.task_area {
    margin-top: 3rem;
    background-color: lightgray;
    padding: 3rem;
    border-radius: 20px;
    width: 100%;
}

.task_area li {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #1b1a1a33;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    font-size: 20px;
}

.add_task input {
    width: 400px;
    padding: 0.75rem;
    border-radius: 10p;
    border-radius: 15px;
    border: 1px solid lightgrey;
    }

.add_task button {
    padding: 0.75rem 2rem;
    border-radius: 15px;
    border: 1px solid lightgrey;
}

.text_decoration_line_through {
    text-decoration: line-through;
}

